.container {
    max-width: 1200px;
     margin: 0 auto;
     padding: 0 20px;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     background-color: #766A92;
   };
 
   .title {
   text-transform: capitalize;
     text-align: center;
     color: #EBD8FF
   };