.button {
  display: block;
  width: 196px;
  height: 50px;
  margin: 0 auto;
  padding: 14px 28px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  color: #EBD8FF;
  cursor: pointer;
  text-decoration: none;
  text-align: center;  
  font-family: inherit;
  background-color: #5736A3;
  border: none;
  border-radius: 10px;
  transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1) background-color
    250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button:hover {
  color: #373737;
  background-color: #5CD3A8;
  box-shadow: 0px 3.44px 3.44px rgba(0, 0, 0, 0.25);
}